body {
    background-size: cover;
}
.heading {
width: 100%;
font-size: 40px;
font-weight: bolder;
box-shadow: 5px 20px 20px black;
}
.image {
    width: 100px;
    height: 100px;
}
a,button {
    background: white;
    border-radius: 20px;
    font-size: 30px;
    color: black;
    border: 7px ridge rgb(116, 116, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.copy-right-footer{
    background: lightskyblue;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: darkblue;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(97, 97, 97);
}
canvas {
    border: 7px ridge grey;
    box-shadow: 5px 20px 20px black;
    margin-top: 200px;
}